.funtimes{
    color:red;
}
#superfun{
    color:blue;
}
.firstbackground{
    background-image:url("https://cdn-img.scalabs.com.au/2AptQb3l3me9HerfBGtTfvmXbolzHF9LhscS2yfAang/aHR0cHM6Ly9zdy10/cmlwbGVtLXByZC5z/Y2FkaWdpdGFsLmlv/L21lZGlhLzM5MTcw/L2ZhcnRwaWwuanBn/P3ByZXNldD1NYWlu/SW1hZ2U");
    height:200px; width:200px;
}